@import "tailwindcss";

@theme {
    --animate-float: float 6s ease-in-out infinite;
    --animate-float-delayed: float 6s ease-in-out 3s infinite;
    --animate-bounce-slow: bounce-slow 4s ease-in-out infinite;

    --font-heading: "Syne", sans-serif;
    --font-body: "Outfit", sans-serif;

    @keyframes float {

        0%,
        100% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-20px);
        }
    }

    @keyframes bounce-slow {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }
    }
}

@layer base {
    body {
        font-family: var(--font-body);
        @apply antialiased text-slate-900;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-body);
    }
}

@layer utilities {
    .box-shadow-green {
        box-shadow: 0 0 15px rgba(34, 197, 94, 0.4);
    }
}